////
/// Default elements.
///
/// @group  Elements
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

html, body {
	width: 100%;
}

html {
	font-family: var( --font-family-primary );
	line-height: 1.75;
}
